.env
.env.local
/bin/
/main
.DS_Store
.idea/
.vscode/
*.swp
docker-compose.override.yml
server/utils/dictionary_*.json
server/utils/words_*.txt
server/utils/word_definitions.json
server/utils/words.txt
